.workouts-div1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap ;
    overflow: auto;
    gap: clamp(10px, 5vw, 100px);
    margin-top: 10px;
    height: 100%;
}

.workouts-div2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--feature-bubble-background);
    width: 40%;
    min-width: 300px;
    height: 90%;
    max-height: 90vh;
    border-radius: 25px;
    margin: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    transition: max-height 0.4s ease-in-out;
}

.workouts-div2 > h3{
    background-color: var(--button-color-active);
    border-radius: 25px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: clamp(30px, 5vw, 50px);
    text-align: center;
    padding-top: clamp(8px, 1vw, 20px);
    font-size: clamp(15px, 3vw ,20px);
    cursor: pointer;

}

.workouts-div3{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px 20px;
    overflow: auto;
    scrollbar-width: none;
    height: 75vh;
    scroll-behavior: smooth;
}
.workouts-div3::-webkit-scrollbar {
    width: 0;
    display: none;
  }



@media (max-width:800px) {

    .workouts-div1{
        flex-direction: column;
        align-items: center;
        gap: 10px;
        flex-wrap: nowrap;
    }

    .workouts-div2{
        max-height: 70%;
    }

    .workouts-div2.collapsed{
        max-height: 50px;
        overflow: hidden;
    }

    .workouts-div2 > h3.collapsed{
        height: 50px;
        padding: 15px 0;
    }
}
