/* Exercise Card Styles */

.exerciseCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 1px;
  box-shadow: 0 0px 12px 3px var(--box-shadow-color);
  width: 290px;
  border-radius: 25px;
  margin: 0 10px;
  background-color: var(--feature-bubble-background);
}

.exerciseImg {
  width: 250px;
  height: 300px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  margin: 10px 0;
  border-radius: 25px;
  box-shadow: 0 2px 5px 5px var(--button-color-inactive);
  opacity: 0.9;
}

/* Action Button Styles */

.actionButton,
.fa {
  background-color: var(--button-color-active);
  color: var(--button-active-color);
  border: 0;
  border-radius: 1pc;
  font-size: 14px;
  padding: 10px;
  font-family: 'Montserrat';
  font-weight: 600;
  transition: transform 0.2s ease-in-out;
  margin: 10px;
}

.actionButton:active,
.fa:active {
  transform: scale(1.1);
}

/* Exercise Info Styles */

.exerciseCard > h2,
h4 {
  margin-top: 0;
  font-family: 'Montserrat';
  font-size: 16px;
  color: aliceblue;
}

.sets,
.reps {
  border-bottom: 2px solid;
  padding-bottom: 4px;
  width: 60px;
}

/* Layout Styles */

.targetDiv {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 0;
}

.nextResetDiv {
  margin-left: 10px;
}

/* Navigation Button Styles */

.exerciseCard .navButton {
  background-color: var(--header-bg-color);
  border: none;
  color: var(--border-color);
  border-radius: 5px;
}

.exerciseCard .navButton:active {
  background-color: var(--button-bg-color);
  color: var(--button-active-color);
}

/* Check Image Styles */

.checkImage {
  width: 30px;
  height: auto;
  border: 3px solid rgb(132, 195, 37);
  margin-top: 15px;
  border-radius: 2pc;
}

/* Add more styles as needed */
