.countLabel {
    margin-bottom: 0;
    font-family: 'Montserrat';
    font-size: 18px;
    text-align: center;
    box-shadow: 0 0px 2px 2px var(--button-bg-color);
    border-radius: 5px;
    padding: 3px 15px;
    width: 25px;
}

.counterDiv > * {
    /* margin: 0 5px; */
}


.weightInput{
    width: 30px;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 30px;
    margin-top: 4px;
    outline: none;
    text-align: center;
    font-weight: bold;
}

.setLabel{
    margin-top: 4px;
    margin-bottom: 4px;
    color: white;
}

.innerCounterDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--navigation-bg-color);
    padding: 5px;
    border-radius: 2pc;
    margin: 5px 2px;
}

.mainCounterDiv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 200px;
    border: 3px solid rgb(26, 129, 107);
    border-radius: 2pc;
    margin-top: 0px;
    padding: 8px;
    background-color: var(--button-color-inactive);
}