.page-main-div{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 100%;
    height: 100%;
}

.page-content-div{
    background-color: rgba(44, 66, 60, 0.53);

}

.small-cards-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    flex-wrap: wrap;
    justify-content: left;
    gap: 40px;
    padding: 40px;
    background-color: rgba(86, 102, 97, 0.416);
    height: 65vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
    position: relative;
}

.workout-page-content-div {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-behavior: smooth;
    padding: 10px 20px;
    background-color: var(--feature-bubble-background);
    width: 100%;
}

.workout-tab-buttons-container {
    display: inline-flex;
    justify-content: space-around;
    width: 100%;
}

.tab-button {
    width: 50%;
    height: 40px;
    background-color: var(--button-color-inactive);
    border: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: clamp(14px, 2vw, 18px);
    color: white;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

.tab-button.active {
    background-color: var(--button-color-active);
}

.workout-tab-section-header-container{
    display: flex;
    justify-content: space-between;
    background-color: black;
    padding: 10px 40px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 60%;
    margin-top: 5px;
    gap: 10px;
}
.workout-tab-section-header {
    justify-content: center;
    margin: 8px 0 0;
    font-size: 15px;
    font-weight: bold;
    background-color: black;
    color: var(--button-color-active);
    display: inline-flex;
}

.create-new-workout-button{
    text-align: center;
    margin: 0;
    font-size: 14px;
    background-color: var(--button-color-active);
    display: inline-flex;
    padding: 10px 20px;
    border-radius: 25px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.create-new-workout-button:active{
    transform: scale(1.1);
}

.create-new-workout-div.hidden{
    display: none;
}

.create-new-workout-div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--feature-bubble-background);
    width: 300px;
    padding: 20px 30px;
    border-radius: 25px;
    text-align: right;
}

.close-button{
    background-color: var(--button-color-inactive);
    color: white;
    border: 0;
    font-size: large;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    justify-content: center;
    transition: transform 0.2s ease-in-out;
}

#new_workout-div-close-button:hover{
    background-color: var(--button-color-active);
}
#new_workout-div-close-button:active{
    background-color: var(--button-color-active);
    transform: scale(1.1);
}

.new-workout-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 10px;
}
.create-new-workout-div h4{
    margin-bottom: 0px;
    background-color: var(--button-color-inactive);
    padding: 10px 10px;
    text-align: center;
    border-radius: 25px 25px 0 0;
}

.create-new-workout-div input{
    background-color: rgba(0, 0, 0, 0.54);
    border: 3px solid var(--button-color-inactive);
    padding: 10px 20px;
    color: white;
    text-align: center;
    font-size: large;
}

.add-image-div{
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.add-image-div button{
    width: 40px;
    height: 40px;
    font-size: 25px;
    font-weight: bolder;
    color: white;
    background-color: var(--button-color-inactive);
    border: 0;
    border-radius: 10px;
}

#imagePreview{
    width: 50px;
    display: none;
}

.create-new-workout-div input[type='submit']{
    background-color: var(--button-color-inactive);
    margin-top: 20px;
    border-radius: 20px;

}

.create-new-workout-set-div{
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    transform: translate(-50%, -50%);
    background-color: black;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border: 2px solid;
    box-shadow: 0px 0px 10px 5px white;
    margin: 20px;
}

.create-new-workout-set-div.hidden{
    display: none;
}

.create-new-workout-set-div .small-cards-container{
    height: 62%;
}

.target-input-div{
    display: flex;
    justify-content: center;
    gap: 50px;
    border-top: 3px dashed white;
    /* margin-top: 10px; */
    padding: 15px;
    padding-top: 20px;
    background-color: var(--feature-bubble-background);
}

.label-input-pair.horizontal{
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

.cancel-create-set-workout-button{
    width: 100px;
    margin: auto;
    background-color: var(--button-color-active);
    border: 0;
    padding: 5px;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    transition: all 0.2s ease-in-out;
}

.cancel-create-set-workout-button:active{
    transform: scale(1.1);
}

.card-container-x{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    height: 400px;
    gap: 50px;
    padding: 20px;
    justify-content: center;
    background-color: var(--feature-bubble-background);
}

.workout-tab-content{
    position: relative;
}

.workout-tab-content.hidden{
    display: none;
}

.workout-page-content{
    transition: opacity 0.3s ease, transform 0.3s ease;
}


@media (max-width:800px) {
    .workout-tab-section-header-container{
        width: 80%;
    }

    .target-input-div{
        flex-direction: column;
        gap: 10px;
        padding: 15px;
    }

    .card-container-x{
        height: 300px;
        gap: 10px;
    }
}

.small-cards-container::-webkit-scrollbar{
    display: block;
}

::-webkit-scrollbar{
    display: none;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--feature-bubble-background);
    height: 90%;
}

::-webkit-scrollbar-thumb {
    background: var(--button-color-inactive);
    border-radius: 5pc;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--button-color-active);
}