.login-div-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(33, 41, 38, 0.9);
    padding: 10px;
    border-radius: 25px;
    position: absolute;
    width: 90%;
    min-width: 290px;
    max-width: 350px;
}

.logo-and-name{
    color: var(--label-color);
    font-weight: bold;
    font-size: large;
    display: flex;
    gap: 5px;
    border-bottom: 3px solid;
    padding: 5px 10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.login-tab-container{
    display: flex;
    gap: 40px;
    margin: 10px;
}

.login-tab-container button{
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--button-color-inactive);
    transition: background-color 0.5s;
    border-radius: 5px;
    font-size: 15px;
    color: white;
}

.login-tab-container button.active {
    background-color: var(--button-color-active); /* Your active button color */
    color: white;
}

.login-form{
    display: none;

}

.login-form.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}



.login-form > *{
    margin-bottom: 15px;
}

.signup-form{
    display: none;
}

.signup-form.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.login-div-container input[type="email"], input[type="password"]{
    width: 90%;
    max-width: 350px;
    height: 40px;
    background-color: transparent;
    color: white;
    font-size: 15px;
    border: 3px solid var(--button-color-inactive);
    padding: 0 10px;
}

.login-div-container input[type="email"]:focus, input[type="password"]:focus{
    background-color: var(--button-color-active);
}

#remember-me{
    transform: scale(2);
    margin-top: 10px;
}

#remember-me:checked {
    accent-color:var(--button-color-active);
}

form input[type="submit"]{
    background-color: var(--button-color-inactive);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    background-color: var(--button-color-inactive);
    transition: background-color 0.3s;
    border-radius: 5px;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}

form input[type="submit"]:active{
    background-color: var(--button-color-active);
}