.profile-page-content-div{
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: var(--feature-bubble-background);
    position: relative;
}

.profile-info-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.columns-container{
    display: flex;
    justify-content: space-between;
    gap: 60px;
    border: 2px dashed white;
    border-bottom: 2px dashed white;
    padding: 20px 10px;
}

.column{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.avatar{
    width: 200px;
    border-radius: 50%;
    border: 5px dashed white;
    padding: 10px;
}

.avatar-name-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 100px;
    gap: 30px;
    border: 2px solid white;
    padding:20px 20px 10px 20px;
    height: 90%;
    background-color: rgba(152, 190, 176, 0.085);
}

.label-input-pair{
    display: flex;
    flex-direction: column;
    margin: 20px 10px;
}

.input-label{
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 15px;
}

.input-field{
    background-color: var(--button-color-inactive);
    /* border: 2px dashed var(--button-color-active); */
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px;
    width: 250px;
    font-size: 15px;
    color: white;
    transition: all 0.2s ease-in-out;
}

.input-field:disabled{
    background-color: rgba(86, 109, 104, 0.741);
}
.input-field:focus{
    transform: scale(1.05);
}

#change-password-button{
    margin: 20px;
    background-color: var(--button-color-active);
    border: 0;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 16px;
    color: white;

}

.change-password-div.visible{
    display: flex;
}

.change-password-div{
    display: none;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: rgb(16, 35, 32);
    padding: 20px 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.1);
    border: 2px solid white;
}

#confirm-change-password-button, #cancel-change-password-button{
    margin: 20px;
    background-color: var(--button-color-active);
    border: 0;
    border-radius: 10px;
    padding: 10px 5px;
    font-size: 16px;
    /* font-weight: bold; */
    color: white;
}

hr{
    width: 5px;
    background-color: rgb(0, 0, 0);
    border: 0;
    border-radius: 5pc;
}

.save-edit-buttons-div button{
    background-color: var(--button-color-active);
    color: white;
    border: 0;
    padding: 10px 20px;
    font-size: 15px;
    margin: 20px 20px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}
.save-edit-buttons-div button:disabled{
    background-color: var(--button-color-inactive);
    border: 1px solid gray;
}

@media (max-width:800px) {
    .profile-page-content-div{
        align-items: center;
        flex-direction: column;
        padding-top: 30px;
    }

    .avatar-name-div{
        gap: 10px;
        margin-left: 0;
    }

    .profile-info-div{
        flex-direction: column;
        align-items: center;
    }

    .columns-container{
        flex-direction: column;
        gap: 0;
    }


    .change-password-div{
        top: 20%;
    }
}