.page-main-div{
  display: flex;
  flex-direction: row;
  justify-content: left;
  width: 100%;
  height: 100%;
}

.page-content-div{
  width: 100%;
  background-color: rgba(44, 66, 60, 0.53);
  border: 2px dashed white;
}

.workout-tab-content{
  /* border: 3px dashed white; */
  padding: 0px 5px;
  border-radius: 5px;
  /* height: 100%; */
}

.small-cards-container {
    display: flex;
    flex-direction: row;
    overflow: scroll;
    gap: 10px;
    padding: 10px;
    background-color: rgba(86, 102, 97, 0.416);
  }

.workout-page-content-div {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  scroll-behavior: smooth;
  padding: 10px 20px;
  background-color: var(--feature-bubble-background);
}

  .workout-tab-buttons-container {
    display: inline-flex;
    justify-content: space-around;
  }

  .tab-button {
    width: 50%;
    height: 40px;
    background-color: var(--button-color-inactive);
    border: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    font-size: clamp(14px, 2vw, 18px);
    color: white;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
  }

  .tab-button.active {
    background-color: var(--button-color-active);
  }

  .workout-tab-section-header {
    justify-content: center;
    margin: 8px 0 0;
    font-size: 14px;
    background-color: black;
    color: var(--button-color-active);
    display: inline-flex;
    padding: 10px 20px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 150px;
  }

::-webkit-scrollbar{
    display: none;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--feature-bubble-background);
    height: 90%;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--button-color-inactive);
    border-radius: 5pc;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--button-color-active);
  }

.workout-tab-content.hidden{
  display: none;
}

.workout-page-content{
  transition: opacity 0.3s ease, transform 0.3s ease;

}